@import 'cl/style/variables';
@import 'cl/style/Global';

.WorkbenchStyle {
    background-color: @background-deep;
    height: 100%;
    padding: 0;
    font-size: 13.3333px;
    color: @foreground-main;
}
